<div class="container">
  <h3>
    <b>Send Money</b>
  </h3>
  <br>
  <form class="col-sm-6" name="form" (ngSubmit)="f.form.valid && onSubmit(tranferModel)" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="fromaccount">From Account</label>
      <select class="form-control" name="fromaccount" (change)="toacc(tranferModel.fromaccount)" [(ngModel)]="tranferModel.fromaccount" #fromaccount="ngModel">
        <option disabled value="selectaccount">Select From Account</option>
        <option value={{data.accountno}} *ngFor="let data of accountNumbers">
          {{data.accountno}}
        </option>
      </select>
      <!-- <input type="text" class="form-control" name="fromaccount" [(ngModel)]="tranferModel.fromaccount" #fromaccount="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required /> -->
      <div *ngIf="fromaccountVali" class="invalid-feedback">
        <div>From Account is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="toaccount">To Account</label>
      <input type="number" class="form-control" name="toaccount" placeholder="To Account" [(ngModel)]="tranferModel.toaccount"
        #toaccount="ngModel" [ngClass]="{ 'is-invalid': f.submitted && toaccount.invalid }" required />
      <div *ngIf="f.submitted && toaccount.invalid" class="invalid-feedback">
        <div *ngIf="toaccount.errors.required">To Account is required</div>
      </div>
      <div *ngIf="toaccountVali" class="invalid-feedback">
        Account Number should be 12 digit
      </div>
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="tranferModel.name" #name="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && toaccount.invalid }" required />
      <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
        <div *ngIf="name.errors.required">Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="number" class="form-control" name="amount" placeholder="Amount" [(ngModel)]="tranferModel.amount" #amount="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && amount.invalid }" required />
      <div *ngIf="f.submitted && amount.invalid" class="invalid-feedback">
        <div *ngIf="amount.errors.required">Amount is required</div>
      </div>
    </div>
    <!-- <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
          <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
          </div>
      </div> -->

    <div class="form-group">
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Transaction Successfull</h3>
        <!-- <p>You can check you transactions in List of Transaction</p> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelModel()">ok</button>
      </div>
    </div>

  </div>
</div>