<nav class="navbar navbar-inverse headerChanges">
    <div class="container-fluid">
      <div class="navbar-header navbar-brand">
       Quest Global
      </div>
      <ul class="nav navbar-nav">
        <li ><a routerLink="/SendMoney">Send Money</a></li>
        <li><a routerLink="/ListofTransection">List of Transactions</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="userBorder"><span class="glyphicon glyphicon-user userSize"></span></a>
        </li>
      </ul>
    </div>
  </nav>