.headerChanges{
    border-radius: 0px !important;
    border: 0px solid transparent !important;
}

.userSize{
    font-size: 15px !important;
}

.userBorder{
    border: 1px solid white !important;
}