<div class="container">
    <h3>
        <b>List of Transactions</b>
    </h3>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">From Account</th>
                <th scope="col">To Account</th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="transctionValue.length <= 0">
                <td colspan=4 rowspan=4 class="alignCenter"><b>No data found</b></td>
            </tr>
            <tr *ngFor="let item of transctionValue| paginate: config">
                <!-- <th scope="row">{{item.id}}</th> -->
                <td>{{item.fromaccount}}</td>
                <td>{{item.toaccount}}</td>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="transctionValue.length > 0">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>

</div>